.countdown {
    position: relative;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    &__number {
        font-size: 12px;
        color: $brand-secondary;
    }

    &__svg {
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        height: 30px;
        transform: rotateY(-180deg) rotateZ(-90deg);
        circle {
            stroke-dasharray: 62.8px;
            stroke-dashoffset: 0px;
            stroke-linecap: round;
            stroke-width: 2px;
            stroke: $brand-secondary;
            fill: none;
            animation: countdown 10s linear infinite forwards;
        }
    }
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 62.8px;
  }
}