.btn {
  background: $btn-default-bg;
  padding: 8px 16px;
  border: none;
  border-radius: 24px;
  color: $btn-text-color;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  box-shadow: 0px 3px 6px rgba(255,255,255,0.1);
  cursor: pointer;

  &__img {
    margin-right: 8px;
    width: 20px;
  }

  &--primary {
    background: $btn-primary-bg;
  }

  &--transparent {
    background: transparent;
  }

  &--outline {
    border: 2px solid $btn-text-color;
    border-radius: 100%;
    padding: 0;
    width: 30px;
    height: 30px;
    font-size: 22px;
  }

  &:active, &:focus {
    outline: none;
  }
}
