@import url("https://fonts.googleapis.com/css?family=Lato:100,400,700");
.header {
  background: #1D4D9F;
  padding: 16px;
  position: relative;
  box-shadow: 0 11px 10px -10px rgba(0, 0, 0, 0.6);
  color: #ffffff; }
  .header--isBusy:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); }
  .header__title {
    font-size: 16px;
    text-align: center;
    margin: 0 0 16px;
    font-weight: 700; }
  .header__action__wrapper {
    padding: 0 16px;
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .header__action__wrapper .btn:nth-child(2) {
      margin: 0 16px; }
  .header__rate__wrapper {
    display: flex;
    padding: 0 16px;
    margin: 4px 0;
    align-items: center; }
  .header__rate__item {
    flex: 1;
    margin: 0;
    text-align: center;
    font-size: 14px; }
  .header__input__wrapper {
    display: flex;
    margin-top: 40px; }
  .header__input__box {
    box-sizing: border-box;
    flex: 1; }
    .header__input__box:first-child {
      padding-right: 8px; }
    .header__input__box:last-child {
      padding-left: 8px; }
  .header__input__action {
    display: flex;
    margin-left: 16px;
    margin-top: 16px; }
  .header__input__label {
    font-size: 12px; }
  .header__input__field {
    height: 30px;
    background: transparent;
    width: 100%;
    border-width: 0;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    font-size: 16px;
    text-align: right;
    margin-bottom: 10px; }
    .header__input__field::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.6); }
    .header__input__field:focus, .header__input__field:active {
      outline: none; }
    .header__input__field--invalid {
      border-color: #f30053;
      color: #f30053; }
  .header__input__note {
    margin-top: 4px;
    margin-bottom: 0;
    text-align: right;
    font-size: 12px; }

.toastr {
  padding: 16px;
  color: #a8a8a8;
  align-self: center;
  text-align: center;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  bottom: 0;
  transition: 0.3s transform;
  transform: translateY(100%); }
  .toastr--active {
    transform: translateY(0); }
  .toastr--danger {
    color: #ffffff;
    background: #f30053; }
  .toastr--success {
    color: #ffffff;
    background: #00c853; }

.btn {
  background: #212121;
  padding: 8px 16px;
  border: none;
  border-radius: 24px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  box-shadow: 0px 3px 6px rgba(255, 255, 255, 0.1); }
  .btn__img {
    margin-right: 8px;
    width: 20px; }
  .btn--primary {
    background: #153874; }
  .btn--transparent {
    background: transparent; }
  .btn--outline {
    border: 2px solid #ffffff;
    border-radius: 100%;
    padding: 0;
    width: 30px;
    height: 30px;
    font-size: 22px; }
  .btn:active, .btn:focus {
    outline: none; }

.countdown {
  position: relative;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .countdown__number {
    font-size: 12px;
    color: #ff5a5a; }
  .countdown__svg {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    transform: rotateY(-180deg) rotateZ(-90deg); }
    .countdown__svg circle {
      stroke-dasharray: 63px;
      stroke-dashoffset: 0px;
      stroke-linecap: round;
      stroke-width: 2px;
      stroke: #ff5a5a;
      fill: none;
      animation: countdown 10s linear infinite forwards; }

@keyframes countdown {
  from {
    stroke-dashoffset: 0px; }
  to {
    stroke-dashoffset: 63px; } }

.currency-menu__wrapper {
  flex: 1;
  display: flex;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: -1;
  padding: 16px;
  box-sizing: border-box;
  bottom: 0;
  left: 0; }
  .currency-menu__wrapper--active {
    z-index: 100; }

.currency-menu__section {
  background: #E6E9ED;
  flex: 1;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: 0.3s opacity; }
  .currency-menu__section--active {
    opacity: 0.5; }
  .currency-menu__section--slideIn {
    opacity: 1; }
  .currency-menu__section__list {
    flex: 1; }
    .currency-menu__section__list__item {
      background: #ffffff;
      padding: 16px;
      margin-bottom: 2px;
      color: #222;
      display: flex;
      align-items: center; }
      .currency-menu__section__list__item__icon {
        width: 20px;
        margin-right: 16px; }
  .currency-menu__section__action {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }

body {
  margin: 0;
  font-family: "Lato", sans-serif; }

.app {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(135deg, #2392ec 0%, #0d5c9c 100%); }
  .app:before {
    content: '';
    position: absolute;
    width: 400px;
    height: 100%;
    right: 0;
    z-index: -1; }
  .app__container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
  .app .shell {
    height: 80%;
    max-height: 630px;
    background: #E6E9ED;
    box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    width: 320px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative; }
    @media only screen and (max-width: 640px) {
      .app .shell {
        height: 100%;
        box-shadow: none;
        flex: 1;
        max-height: none; } }
    .app .shell__content {
      padding: 16px;
      flex: 1;
      display: flex;
      flex-direction: column; }
      .app .shell__content__title {
        font-size: 14px;
        margin: 0 0 8px; }
      .app .shell__content__table {
        flex: 1; }
        .app .shell__content__table .row {
          display: flex;
          margin-bottom: 4px;
          box-shadow: 0 11px 10px -10px rgba(0, 0, 0, 0.2); }
          .app .shell__content__table .row .col {
            flex: 1;
            padding: 12px;
            background: #ffffff;
            display: flex;
            align-items: center; }
            .app .shell__content__table .row .col:first-child {
              margin-right: 2px; }
            .app .shell__content__table .row .col__img {
              width: 20px;
              margin-right: 8px; }
